/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Desarrollo Mobile First */
/* Estilos generales */
body {
    background-color: #86BBD8;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

h1 {
    margin: 2rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

/* No olvidar colocar :active  en las media querys para los links a otras paginas */

/* Header - NavBar */
header nav div {
    display: flex;
    justify-content: center;
}

header nav div .imghome {
    height: 75px;
}

header nav {
    display: flex;
    flex-direction: column;
    background-color: #2660a4;
    border: 2px solid;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin: 10px;
}

header nav ul li:first-child {
    display: none;
}

/* Estructura principal */
.contenedor {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.descripcion {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 0 1rem 2rem 1rem; 
}

.descripcion .btnVer{
    display: none;
}

.imgPreviasHome{
    display: none;
}

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #475841;
    border-top: 2px solid;
    padding: 5px;
}

footer span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 10px; 
}

footer .logosRedir {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

footer .logosRedir a img{
    height: 40px;
    margin: 3px;
}

/* Seccion de Productos */
#parraProds{
    display: none;
}

.generalProd{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 20px;
}

.contenedorProd {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border: 5px solid #393939;
    border-radius: 15px;
    overflow: auto;
}

.contenedorProd .titleProd{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 7px;
}

.contenedorProd .imgProd{
    height: 70%;
    padding: 5px 15px;
    border-radius: 7.5%;
}

.contenedorProd .descripcionProd{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    padding: 2px;
    overflow: auto;
    text-align: center;
}

.contenedorProd .bloqPrecio{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedorProd .bloqPrecio .botonCompra{
    font-weight: bold;
    border-radius: 10px;
}

/* Seccion Metodos de Pago */
.metodosPago img{
    width: 100%;
    height: 45vh;
    padding: 0 10px;
}

.pieImg{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    margin: 15px;
}

/* Seccion "Sobre Nosotros" */
.contCards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    padding-bottom: 2em;
    justify-content: center;
    
}

.contCards .card{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #2660a4;
}

.contCards .cardTitulo{
    padding: 0 5px 10px 5px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.contCards .card .imgCard{
    justify-self: center;
    align-self: center;
    width: 7.5em;
    height: 9em;
    border-radius: 5px;
}

/* Seccion Contacto */
.gps {
    display: flex;
    justify-content: center;
    height: 350px;
    padding: 15px 0;
}

/* Media Querys */

@media (min-width: 720px) {
    /* Correccion en version Tablet a la seccion de productos*/
    .generalProd{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .contCards .card .imgCard{
        padding-bottom: 15px;
        height: 14em;
        width: 15em;
    }

    /* Seccion Metodos de Pago*/
    .metodosPago img{
        height: 60vh;
    }
}

@media (min-width: 1200px){
    /* Adaptacion a Desktop */
    /* HOME */
    header nav{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav ul{
        margin-right: 15px;
    }

    header nav ul li{
        font-size: 1.4em;
    }


    header nav ul li a:hover{
        color: gainsboro;
        transition: 0.5s;
    }

    header nav ul li:first-child{
        display: flex;
    }

    header nav div .imghome {
        margin-left: 50px;
        height: 100px;
    }

    .contenedor{
        flex-direction: row;
        padding: 0 15em;
    }

    .contenedor div {
        display: flex;
        align-items: center;
        font-size: 1.4em;
    }

    .descripcion .btnVer{
        display: inline-block;
    }

    .descripcion .btnVer button{
        font-size: 1em;
        border: 2px solid rgb(110, 136, 112);
        background-color: rgb(110, 136, 112);
        border-radius: 5px;
    }

    .imgPreviasHome{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .imgPreviasHome .contenedor2{
        display: flex;
        justify-content: center;
    }

    .imgPreviasHome .contenedor2 img{
        margin: 1em 0;
        padding: 1em;
        width: auto;
        height: 350px;
        border-radius: 15%;
    }

    footer{
        flex-direction: row;
        padding: 1em;
    }

    /*Seccion de Productos*/
    .generalProd{
        padding: 0 2em 30px 2em;
        gap: 10px;
    }

    footer .logosRedir {
        gap: 1rem;
    }

    .contenedorProd .descripcionProd{
        overflow: hidden;
    }
    .contenedorProd .bloqPrecio{
        padding: 15px;
    }

    /* Seccion Metodos de Pago */
    .metodosPago{
        display: flex;
        justify-content: center;
    }
    .metodosPago img{
        width: 90%;
        height: auto;
        border-radius: 15px;
    }

    /* Seccion Sobre Nosotros "About Us" */
    .contCards{
        display: flex;
    }
}