@import "./variable";

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $color-footer;
    border-top: 2px solid;
    padding: 5px;

    span{
        font-family: $fuente-principal;
        font-weight: bold;
        margin: 10px;
    }
    .logosRedir{
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
        a{
            img{
                height: 40px;
                margin: 3px;
            }
        }
    }
}