@import "variable.scss";

body{
    background-color: $color-principal;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

h1{
    margin: 2rem;
    text-align: center;
    font-family: $fuente-principal;
}

h2{
    font-family: $fuente-principal;
    font-size: 25px;
}

.descripcion {
    font-family: $fuente-principal;
    text-align: center;
    padding: 0 1rem 2rem 1rem; 
}